.row.technologies
  .col-lg-12
    - courses = current_user.courses
    - if courses.present?
      %ul
        - courses.each do |course|
          - course_info = current_user.get_course_info(course.id)
          - is_completed = course_info[0]
          - total_levels = course_info[1]
          - passed_levels = course_info[2]              
          - if is_completed
            %li
              %p
                = link_to course.title, course_path(course)
                = ' - '
                = t("has_completed_course')
    - else
      %p=t("no_records_found")  