<p>привет <%= @user.name %>,</p>

<p>Знаете ли Вы что анкеты с фото привлекают до 20 раз больше просмотров? Анкеты с фото также показываются выше в результатах поиска.</p>

<p>Добавить фото в Вашу анкету займет всего пару минут, почему бы не сделать это прямо сейчас?</p>

<p>
	<%= link_to "Нажмите здесь чтобы открыть Вашу анкету и добавить фото", notification_confirmation_url(@user.notification_token, 'yes') %>
</p>

<p>P.S.: Если у Вас возникли вопросы или проблемы с сервисом, не стесняйтесь написать нам на <a href="mailto:support@demo.com?subject=Need%20Help">support@demo.com</a>.</p>

<p>спасибо,<br />
DateProg Team.</p>

<p style="font-size: 10px;">
	это письмо отправлено с почтового ящика который не проверяется. <%= link_to "для отключения рассылки этих писем нажмите здесь", notification_confirmation_url(@user.notification_token, 'stop') %>
</p>