<p>привет <%= @user.name %>,</p>

<p>Завязать разговор с программистом бывает нелегко!</p>

<p>Вот несколько работающих советов о том как начать разговор:</p>

<p>
- спросите о любимом языке программирования (и почему он любимый).<br />
- спросите про любимую компьютерную игру и почему именно эта игра так нравится?<br />
- спросите о любимом способе провести время без комптьютера.<br />
- спросите о той функции в Ваше смартфоне или планшете которую Вы никак не можете понять<br />
- почти все программисты ЛЮБЯТ разные гаджеты. Спросите какой в этом году самый крутой смартфон или самое крутое носимое устройство в мире?
</p>

<p>
	<%= link_to "Нажмите здесь чтобы открыть сайт", notification_confirmation_url(@user.notification_token, 'yes') %>
</p>

<p>P.S.: Если у Вас возникли вопросы или проблемы с сервисом, не стесняйтесь написать нам на <a href="mailto:support@demo.com?subject=Need%20Help">support@demo.com</a>.</p>

<p>спасибо,<br />
Команда DateProg.</p>

<p style="font-size: 10px;">
	это письмо отправлено с почтового ящика который не проверяется. <%= link_to "для отключения рассылки этих писем нажмите здесь", notification_confirmation_url(@user.notification_token, 'stop') %>
</p>