<p>привет <%= @user.name %>,</p>

<p>Cпасибо за регистрацию на сайте Замуж За Программиста!</p>

<p>Кстати, у нас для Вас ПОДАРОК: мы дарим Вам VIP статус на первые 7 дней! Это значит что Ваш профиль будет подсвечен в результатах поиска!

<p>Чего же вы ждете? Начать пользоваться сервисом просто:</p>

<p>
- Загрузите свое фото в свою анкету чтобы она появлялась выше в результатах поиска.<br />
- У каждой анкеты есть "приватная" часть, закрытая от просмотра без разрешения. В ней можно (и нужно) загрузить еще больше фото и написать о себе подробнее, и потом открывать только тому, кто понравился.<br />
</p>

<p>
Счастливых онлайн знакомств!
</p>

<p>
	<%= link_to "Нажмите здесь чтобы открыть сайт", notification_confirmation_url(@user.notification_token, 'yes') %>
</p>

<p>P.S.: Если у Вас возникли вопросы или проблемы с сервисом, не стесняйтесь написать нам на <a href="mailto:support@demo.com?subject=Need%20Help">support@demo.com</a>.</p>

<p>
спасибо,<br />
DateProg Team.
</p>

<p style="font-size: 10px;">
	это письмо отправлено с почтового ящика который не проверяется. <%= link_to "для отключения рассылки этих писем нажмите здесь", notification_confirmation_url(@user.notification_token, 'stop') %>
</p>