@charset "utf-8";

html, body {
	padding-top: 35px; 
	margin:0px; /* FF hack: or we'll have double scrollbar showing on the browser */
}

.custom-background {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom-background-image {
  background-image: url(asset-path('head-slide.jpg'));
  background-position: center;
  background-position-y: initial;
}

.jumbotron {
   background: rgb(255, 255, 255); /* This is for ie8 and below */
   background: rgba(255, 255, 255, 0.8); 
}

#main_container {
	width:100%;
	background-color:#ffffff; /* DO NOT REMOVE THIS; or you'll have issue w/ the scrollbar, when the mouse pointer is on a white space */
	overflow-x: hidden;
	overflow-y: scroll;
	height:100%;	/* this will make sure that the height will extend at the bottom */
	position:absolute; /* container div must be absolute, for our fixed bar to work */
}

.bg-white{
   background: rgb(255, 255, 255); /* This is for ie8 and below */
   background: rgba(255, 255, 255, 0.8); 
}