<p>Уважаемый(я) <%= @resource.name %>,</p>

<p>Спасибо за регистрацию на сайте "Замуж За Программиста"!</p>

<p>
<%= link_to "Пожалуйста, подвердите регистрацию просто кликнув на эту ссылку", confirmation_url(@resource, confirmation_token: @token, sign_in: true) %></p>

<p>P.S.: Если это были не Вы то просто игнорируйте это письмо.</p>

<p>спасибо,<br />
команда DateProg</p>